.about {
    --padding-top: 160px;
    &-img {
        width: calc(85% - 12px);
        --bs-border-radius: 12px;
        padding-bottom: calc(85% - 12px);
        @include img(cover);
    }
    &-wrap {
        padding-left: 8%;
        & h3 {
            @include font-60;
        }
        & p {
            @include font-22;
        }
    }
}