.footer{
    .footer-logo{
        max-width: 220px;
        display: inline-block;
    }
    .footerMenu{
        li{
            display: inline-block;
        }
    }
    .footer-social-logos{
        text-align: end;
        li{
            display: inline-block;
        }
    }

}