@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unbounded:wght@200..900&display=swap');
$font-1:'Poppins',
sans-serif;
$font-2:'Unbounded',
sans-serif;
$black:#000;
$white:#fff;
$primary:#F9C36A;
$secondary:#9B3D1F;
$cadet-blue:#B3B9C4;
$mulled-wine:#564F6A;
$hit-gray:#A6AEBB;
$black-haze:#FAFBFB;
$ebony:#090C17;
$bg:#020315;